.titulo{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #239993;
}

.containerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.paragrafo{

}

.body{
    font-family: 'Courier New', Courier, monospace;
}